/* #Imports
================================================== */

  @import "skeleton";
  @import "base";

/* #Variables
================================================== */

  $athega_orange: #f60;
  $primary:   #951F2B;
  $secondary: #535233;
  $light_bg:  #eee;
  $dark_bg:   #E0DFB1;

/* #Site Styles
================================================== */

.hidden { display: none; }

.alert-message, .info-message {
  padding: 0.5em 0.9em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  display: block;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 1em 0;
}

.alert-message {
  background-color: #fdf5d9;
  border: 1px solid #fceec1;
}

.info-message {
  background-color: #E9FFE1;
  border: 1px solid darken(#E9FFE1, 5);
}

.sitting {
  border: 1px solid #fff;

  label {
    display: block;
    cursor: pointer;
    padding: 0.5em 0.9em;
    vertical-align: top;

    small {
      vertical-align: middle;
    }
  }

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.sittings .green { background: #E1F5C4; border-color: darken(#E1F5C4, 15) }
.sittings .yellow { background: #EDE574; border-color: darken(#EDE574, 15) }
.sittings .red { background: #FC913A; border-color: darken(#FC913A, 15) }

.admin_menu {
  a:visited, a:hover { color: #222; }
  .button { display: block; }
}
.sittings { input[type="submit"] { width: 100%; } }

.guests a.guests,
.sittings a.sittings,
.notifications a.notifications {
  border-color: #888;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.guests {
  .manual {
    background: $light_bg;
  }
}

.guest {
  padding-bottom: 12px;
  hr {
    margin: 0;
  }
  form {
    margin-bottom: 0;
  }
}

iframe.scale-with-grid { width: 100%; height: 450px; }

a, a:focus, a:visited { color: $athega_orange; }
a:hover { color: brighten($athega_orange, 20); }

body {
  border-top: 8px solid $athega_orange;
  background: #fff url('/images/bg.png') repeat-x;
}

h1,h2,h3,h4,h5 {
  color: #504935;
}

header {
  margin-top: 60px; margin-bottom: 40px;

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 19px;
    line-height: 40px;
    color: #aaa;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-shadow: 1px 1px 0 white;
  }
}


/* #Page Styles
================================================== */

#logo {
  height: 72px;
  background: transparent url("/images/athega_logo.png") no-repeat top left;
  text-indent: -5000em;
  margin: 0;
}

#footer {
  font-size: 0.9em;
  li { float: left; margin-right: 1em; }
  ul { padding-bottom: 3em; }
  a, a:visited, a:hover { color: #AAA; text-decoration: none; }
}

#check_in .guest img {
  width: 50px;
  vertical-align: top;
}

/* #Media Queries
================================================== */

  /* Larger than standard 960 (devices and browsers) */
  @media only screen and (min-width: 960px) {
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
    iframe.scale-with-grid { height: 400px; }

    h1 { font-size: 38px; line-height: 40px; }
    h2 { font-size: 28px; line-height: 34px; }
    h3 { font-size: 21px; line-height: 30px; }
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {
  }

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    body { background: #fff; }
    header { margin: 20px 0; }
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    iframe.scale-with-grid { height: 350px; }
  }

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {
    iframe.scale-with-grid { height: 300px; }

    body {
      background: #fff;
      font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    header {
      margin: 15px 0;
      h2 { font-size: 16px; }
    }

    h1 { font-size: 28px; line-height: 34px; }
    h2 { font-size: 21px; line-height: 30px; }
    h3 { font-size: 17px; line-height: 24px; }
  }
