%ul.admin_menu
  %li
    %a.guests.button{ :href => '/admin/guests' } Administrera gäster
  - if Guest.not_invited_yet.count > 0
    %li
      %a.notifications.button{ :href => '/admin/notifications' } Hantera notiﬁeringar
  %li
    %a.sittings.button{ :href => '/admin/sittings' } Uppdatera sittningar
