%ul.admin_menu
  %li
    %a.guests.button{ :href => '/admin/guests' } Administrera gäster
  %li
    %a.notifications.button{ :href => '/admin/notifications' } Hantera notifieringar
  %li
    %a.sittings.button{ :href => '/admin/sittings' } Uppdatera sittningar
