%ul.admin_menu
  %li
    %a.guests.button{ :href => '/admin/guests' } Administrera gäster
  %li
    %a.notifications.button{ :href => '/admin/notifications' } Hantera notiﬁeringar
  %li
    %a.sittings.button{ :href => '/admin/sittings' } Uppdatera sittningar
  - if Guest.untagged.count > 0
    %li
      %a.untagged.button{ :href => '/admin/guest/untagged' } Tagga gäster
