%ul.admin_menu
  %li
    %a.guests.button{ :href => '/admin/guests' } Gäster
  %li
    %a.sittings.button{ :href => '/admin/sittings' } Sittningar
  %li
    %a.notifications.button{ :href => '/admin/notifications' } Notifieringar
