%ul.admin_menu
  %li
    %a.guests.button{ :href => '/admin/guests' } Gäster
  %li
    %a.seatings.button{ :href => '/admin/seatings' } Sittningar
  %li
    %a.notifications.button{ :href => '/admin/notifications' } Notifieringar
