.row.notifications
  .twelve.offset-by-four.columns
    %h1 Hantera notiﬁeringar
  .four.columns
    = haml :'admin/menu', :layout => false
  .twelve.columns
    - unless params[:number_of_invitations_sent].nil?
      %div.alert-message
        Skickade
        %strong= params[:number_of_invitations_sent]
        inbjudningar!

    %form{ action: '/admin/notifications/send_all_pending_invitations', method: 'POST' }
      %label.half-bottom
        Bjud in gäster som inte redan fått en inbjudan.
        %small (Max 1 mail per gäst)
      %input{ type: 'submit', value: 'Skicka inbjudningar (30 i taget)', onclick: 'return confirm("Är du HELT säker på att du vill skicka inbjudningarna?");' }

    %hr

    %form{ action: '/admin/notifications/send_all_pending_reminders', method: 'POST' }
      %label.half-bottom
        Skicka en påminnelse gäster som inte redan fått en.
        %small (Max 1 mail per gäst)
      %input{ type: 'submit', value: 'Skicka påminnelser (30 i taget)', onclick: 'return confirm("Är du HELT säker på att du vill skicka påminnelserna?");' }
