.row.sittings
  .twelve.offset-by-four.columns
    %h1 Sittningar
  .three.columns
    = haml :'admin/menu', :layout => false
  .twelve.offset-by-one.columns
    %form{ :action => "/admin/sittings", :method => 'POST' }
      %fieldset
        .row.remove-bottom
          .one.column.alpha
            %input{ :type => 'text', :name => 'key' }
          .three.columns
            %input{ :type => 'text', :name => 'title' }
          .four.columns
            %input{ :type => 'text', :name => 'starts_at' }
          .two.columns.omega
            %input{ :type => 'submit', :value => 'Lägg till' }

    - sittings.each do |sitting|
      %form{ :action => "/admin/sittings/#{sitting.key}", :method => 'POST' }
        %fieldset
          .row.remove-bottom
            .one.column.alpha
              %input{ :type => 'text', :name => 'key', :value => sitting.key, :disabled => '' }
            .three.columns
              %input{ :type => 'text', :name => 'title', :value => sitting.title }
            .four.columns
              %input{ :type => 'text', :name => 'starts_at', :value => sitting.local_time }
            .two.columns.omega
              %input{ :type => 'submit', :value => 'Uppdatera' }

