.row
  .four.columns
    = haml :'/admin/menu', :layout => false
  .twelve.columns
    %h1 Tagga gäster
    %h3
      Kvar att tagga:
      %span{:id => 'remaining'}
        = remaining
      gäster
    %ul{:id => 'tagged', :class => 'square'}
      %script{:src => '/javascripts/jquery-1.7.1.min.js'}
      :javascript
        'use strict';

        (function init() {
            var EVT_SRC_URL = '/register/events',
        	evtSource = new EventSource(EVT_SRC_URL),
        	$tagged = $('#tagged'),
                $remaining = $('#remaining');

            evtSource.addEventListener("tag", function(e) {
                var data = JSON.parse(e.data);
                $tagged.prepend($('<li></li>').text(data.guest ? (data.guest.name + ' ' + data.message + ' ' + data.guest.rfid) : data.message));
            }, false);

            evtSource.addEventListener("untagged", function(e) {
                $remaining.text(e.data);
            }, false);

            evtSource.onerror = function() {
              $tagged.prepend($('<li></li>').text('Misslyckades att lyssna på strömmen ' + EVT_SRC_URL));
            };
        })();
