.sixteen.columns
  %h1.add-bottom= company
  %hr
  .guests
    - guests.each do |guest|
      %h1.guest.add-bottom
        %img{ src: gravatar(guest.email) }
        %a{ href: "/check-in/guests/#{guest.token}" }= guest.name
