.sixteen.columns
  #footer
    %hr.half-bottom
    %ul
      %li
        %a{ href: '/' } Jullunch 2011
      %li
        %a{ href: '/about' } Om applikationen
      %li
        %a{ href: 'http://athega.se/' } Vår hemsida
