.sixteen.columns
  #footer
    %hr.half-bottom
    %ul
      %li
        %a{ href: '/' }= "Jullunch #{Time.now.year}"
      %li
        %a{ href: '/about' } Om applikationen
      %li
        %a{ href: 'http://athega.se/' } Vår hemsida
      %li
        %a{ href: 'https://1997.athega.se' } Athega 1997
      %li
        %a{ href: 'https://twitter.com/#!/search/realtime/%23athegajul' } #athegajul
