.row
  .twelve.columns
    %h1 Om årets jullunchinbjudan

    %p
      Årets inbjudan till jullunchen är hostad av
      %a{ href: 'http://heroku.com/' } Heroku
      i molnet.
    %p
      Vi har enbart använt oss av öppen källkod för att bygga         |
      webbapplikationen. Programeringsspråket vi använt är            |
      #{'<a href="http://rubylang.org">Ruby</a>'}.                    |
      Vidare används webbramverket                                    |
      #{'<a href="http://sinatrarb.com/">Sinatra</a>'}, CSS-ramverket |
      #{'<a href="http://getskeleton.com/">Skeleton</a>'}             |
      (för layout och typografi) samt databasen                       |
      #{'<a href="http://mongodb.org/">MongoDB</a>'}.                 |

    %p
      Under lunchen kommer vi som vanligt att använda flera          |
      egenutvecklade och skräddarsydda applikationer, men mer        |
      om det senare.                                                 |

    %p
      Vill du veta mer om tekniken?
      Kontakta
      %a{ href: 'http://athega.se/peter'} Peter Hellberg
      så svarar han på dina frågor.
