.row
  .eleven.columns
    %h1 Om applikationen

    %p Jullunchapplikationen är utvecklad med hjälp av                 |
       öppnen källkod. Programspråket vi har använt oss av är          |
       #{'<a href="http://rubylang.org">Ruby</a>'} tillsammans med     |
       webbramverket #{'<a href="http://sinatrarb.com/">Sinatra</a>'}. |

    %p CSS-ramverket #{'<a href="">Skeleton</a>'} används för att styra layout och typografi.

    %p Databasen vi använder oss av är #{'<a href="http://mongodb.org/">MongoDB</a>'}.
