.row
  .eleven.columns
    %h1 Om applikationen

    %p Jullunchapplikationen är utvecklad med hjälp av                 |
       öppna lösningar. Programspråket vi har använt oss av är         |
       #{'<a href="http://rubylang.org">Ruby</a>'} tillsammans med     |
       webbramverket #{'<a href="http://sinatrarb.com/">Sinatra</a>'}. |

    %p För att styra utseendet använder vi oss av CSS-ramverket #{'<a href="">Skeleton</a>'}.
