.row
  .eleven.columns
    %h1 Om applikationen

    %p Jullunchapplikationen är utvecklad med hjälp av                 |
       öppna lösningar. Programspråket vi har använt oss av är         |
       #{'<a href="http://rubylang.org">Ruby</a>'} tillsammans med     |
       webbramverket #{'<a href="http://sinatrarb.com/">Sinatra</a>'}. |

    %p För att styra utseendet använder vi oss av CSS-ramverket #{'<a href="">Skeleton</a>'}.

    %p När gästerna anländer kommer det att finnas möjlighet att              |
       registrera sig genom en iPhone-applikation. För att bygga utseendet    |
       till iPhone-applikationen har ramverket iWebkit varit till stor hjälp. |
