%h1 Välkommen till Athegas Jullunch
%br
%span Hej #{name}, du är hjärtligt välkommen på Athegas Jullunch den 16/12.
%br
%span
%span Länk för att svara på inbjudan: #{"<a href=\"#{link}\">#{link}</a>"}
