%div Hej igen, #{name}!
%br
%br
%div
  Vi vill bara helt kort påminna om att nu på tisdag, den 10:e december, är det
  %strong sista anmälningsdagen
  till årets jullunch.
%br
%div
  Anmäl dig här,
  #{"<a href=\"#{link}\">#{link}</a>"} (OBS! Personlig inbjudan)
%br
%br
%div Hoppas vi ses!
