%div Hej!
%br
%div Vad trevligt att du ville komma och äta jullunch tillsammans med oss. Vi uppskattade ditt sällskap väldigt mycket och hoppas att du blev riktigt mätt :)
%div
  Vi hade ett reportageteam på plats som tog lite mingelbilder och snappade upp en och annan konversation. Du hittar reportaget här
  %a{ href: 'http://athega.se/jullunch-mingel' } http://athega.se/jullunch-mingel.
%br
%div Vem vet, du kanske hittar någon bild där du är med?
%br
%div Vi vill också passa på att önska dig en riktigt God Jul och ett Gott Nytt År!
%br
%div // Vi på Athega