%div Tack för att du kom på vår jullunch i år. Hoppas du blev mätt :)
%div Det var den fjärde jullunchen så vi kan nog kalla det tradition nu.
%br
%div Vi fick mycket frågor om årets jullunchapplikation, både den i mobilen “The Tomtelizer” och webbappen.
%div Därför har vi skrivit lite om det på vår blogg:
%br
%div
  %a{ href: 'http://athega.se/blogg' } http://athega.se/blogg
%br
%div God Jul och ett riktigt gott nytt år önskar alla vi på,
%br
%div Athega
%small Stockholms nyttigaste systemutvecklare
