%p Hej!
%br
%p
  Vad trevligt att du ville komma och äta jullunch tillsammans med oss.
%p
  Varje år brukar vi ju julpyssla litet. Årets julpyssel gick sannerligen
  i webbläsarens tecken. Det var nämligen en webbläsare som letade efter
  koden du visade upp i din mobil. När den hittats, gjorde webbläsaren
  en kort animerad GIF av processen och till sist checkade webbläsaren in
  dig så att vi nu kan tacka för i år på det här viset.
%p
  Kul, tycker vi. ;)
%p
  %br
%p
  Ha nu en riktigt God Jul och ett Gott Nytt År!
  %br
%p
  %em // Athegagänget
