%div Hej #{name}!
%br
%span
%div
  Jag ville bara påminna dig om att Athegas jullunch är fredagen den 11:e december. Du anmälde att du ville komma klockan
  %strong #{sitting}.
%br
%div Hjärtligt välkommen!
%br
%div /#{invited_by}