%div Hej #{name}!
%br
%span
%div
  Jag ville bara påminna dig om att Athegas jullunch är nu på fredag, den 14:e december. Du anmälde att du ville komma klockan
  %strong #{sitting}.
  Det ser vi fram emot!
%br
%div
  %em Meddela oss gärna så snart som möjligt om du fått förhinder.
%br
%div Hjärtligt välkommen!
%br
%div /#{invited_by}
