.sixteen.columns
  %h1 Välj företag
  .companies
    - companies.each do |company|
      %hr
      %h1.company.add-bottom
        %a{ href: "/check-in/guests?company=#{uri_escape(company)}" }= company
